@model List<Recipe>
@{
    ViewBag.Title = "Lista przepisów";
    Layout = "_LayoutDashboard";
}

<div class="m-4 p-3 width-medium">
    <div class="dashboard-content border-dashed p-3 m-4 view-height">
        <div class="row border-bottom border-3 p-1 m-1">
            <div class="col noPadding">
                <h3 class="color-header text-uppercase">Lista Przepisów</h3>
            </div>
            <div class="col d-flex justify-content-end mb-2 noPadding">
                <a class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4" asp-action="Add" asp-controller="Recipe">Dodaj przepis</a>
            </div>
        </div>

        <table class="table border-bottom schedules-content">
            <thead>
                <tr class="d-flex text-color-darker">
                    <th scope="col" class="col-1">ID</th>
                    <th scope="col" class="col-2">NAZWA</th>
                    <th scope="col" class="col-7">OPIS</th>
                    <th scope="col" class="col-2 center">AKCJE</th>
                </tr>
            </thead>
            <tbody class="text-color-lighter">
                @foreach (var recipe in @Model)
                {
                    <tr class="d-flex">
                        <th scope="row" class="col-1">@recipe.Id</th>
                        <td class="col-2">@recipe.Name</td>
                        <td class="col-7">@recipe.Description</td>
                        <td class="col-2 d-flex align-items-center justify-content-center flex-wrap">
                            <a class="btn btn-danger rounded-0 text-light m-1" asp-action="ConfirmRemoveRecipe" asp-controller="Recipe" asp-route-id="@recipe.Id">Usuń</a>
                            <a class="btn btn-info rounded-0 text-light m-1" asp-action="Details" asp-controller="Recipe" asp-route-id="@recipe.Id">Szczegóły</a>
                            <a asp-action="Edit" asp-controller="Recipe" asp-route-id="@recipe.Id" class="btn btn-warning rounded-0 text-light m-1">Edytuj</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

