@model AddPlanToRecipeViewModel

@{
    ViewData["Title"] = "Dodawanie przepisu do planu";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="m-4 p-3 width-medium">
    <form asp-action="AddRecipe" asp-controller="Plan" method="post">

        <div class="dashboard-content border-dashed p-3 m-4 view-height">
            <div class="row border-bottom border-3 p-1 m-1">
                <div class="col noPadding">
                    <h3 class="color-header text-uppercase">DODAJ PRZEPIS DO PLANU</h3>
                </div>
                <div class="col d-flex justify-content-end mb-2 noPadding">
                    <button type="submit" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Zapisz</button>
                </div>
            </div>

            <div class="schedules-content">
                <div class="form-group row">
                    <label for="choosePlan" class="col-sm-2 label-size col-form-label">
                        Wybierz plan
                    </label>
                    <div class="col-sm-3">
                        <select name="PlanId" class="form-control" id="choosePlan" placeholder="Wybierz plan">
                            @foreach (var plan in ViewBag.Plans)
                            {
                                <option value="@plan.Id">@plan.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-sm-2 label-size col-form-label">
                        Nazwa posiłku
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="FoodName" id="name" placeholder="Nazwa posiłku">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="number" class="col-sm-2 label-size col-form-label">
                        Numer posiłku
                    </label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" asp-for="FoodOrder" id="number" placeholder="Numer posiłki">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="recipie" class="col-sm-2 label-size col-form-label">
                        Przepis
                    </label>
                    <div class="col-sm-4">
                        <select name="RecipeId" class="form-control" id="recipie">
                            @foreach (var recipe in ViewBag.Recipes)
                            {
                                <option value="@recipe.Id">@recipe.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="day" class="col-sm-2 label-size col-form-label">
                        Dzień
                    </label>
                    <div class="col-sm-2">
                        <select name="DayNameId" class="form-control" id="day">
                            @foreach (var day in ViewBag.DayNames)
                            {
                                <option value="@day.Id">@day.Name</option>
                            }
                        </select>
                    </div>
                    <div asp-validation-summary="All"></div>
                </div>
            </div>
        </div>
    </form>
</div>



